.game-container {
  width: 100dvw;
  height: 100dvh;
}

.editor-container {
  position: absolute;
  z-index: 10;
  height: 80%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-71%, -62%);
}

div {
  width: 100dvw;
  height: 100dvh;
}