/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@font-face {
    font-family: 'Spock';
    src: url('assets/fonts/Fontspring-DEMO-spockess-regular.otf') format("opentype");
}

body {
    font-family: 'Spock', sans-serif;
    background-color: var(--p-page-background);
}